@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");

body,
html {
  font-family: "Sen", sans-serif;
}

.header-gradient {
  background: linear-gradient(
    to left,
    rgba(0, 191, 255, 0.72) 22%,
    rgb(0, 191, 255, 0.88) 38%,
    rgba(127, 255, 192, 0.99) 59%,
    rgb(127, 245, 182, 0.88)
  );
  background-size: cover;
  background-repeat: no-repeat;
  height: 240px;
  filter: blur(90.5px);
  z-index: 0;
}

.footer-gradient {
  background: linear-gradient(
    to right,
    rgba(0, 209, 255, 0.72) 22%,
    rgb(0, 209, 255, 0.88) 38%,
    rgba(127, 255, 192, 0.99) 59%,
    rgb(127, 245, 182, 0.88)
  );
  background-size: cover;
  background-repeat: no-repeat;
  height: 120px;
  filter: blur(60.5px);
}
